@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
@import "compass/css3";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px 0;
    background: red;
    animation: changeBackgroundColor 7s infinite;
    font-family: monospace;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

@keyframes changeBackgroundColor {
    0% {
      background-color: #001F3F;
    }
    50% {
      background-color: #FF4136;
    }
    100% {
      background-color: #001F3F;
    }
  }

.typewriter h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
  }

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 no-repeat center center / contain;
    animation: text-shadow 1.5s ease-in-out infinite;
}

.back {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}  

.carte  {
    min-height: 30vh;
    border: 10px solid transparent;
    background-image: linear-gradient(#222, #222), var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 5px;
    position: relative;
    animation: animatedgradient 30s linear alternate infinite;
    background-size: 400% 400%;
  }
  
  .carte::after {
    content: attr(style);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 1.5;
  }
  
  .dotted {
    background-size: 2px 2px;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 150%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  