@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
@import "compass/css3";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: red;
    animation: changeBackgroundColor 7s infinite;
    font-family: monospace;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

@keyframes changeBackgroundColor {
    0% {
      background-color: #001F3F;
    }
    50% {
      background-color: #FF4136;
    }
    100% {
      background-color: #001F3F;
    }
  }

.typewriter h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
  }

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 no-repeat center center / contain;
    animation: text-shadow 1.5s ease-in-out infinite;
}

.back {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}
  